.view {
  h1 {
    color: #5c49cb;
  }
  td {
    padding: 10px 5px;
  }
  label {
    font-weight: 600;
  }

  .projects {
    margin: 35px 5px 0 5px;
    background: #e1dcff;

    .title {
      background: #5c49cb;
      color: white;
      padding: 10px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    table {
      width: 100%;
      text-align: center;
    }
  }
}
