.view {
  h1 {
    color: var(--primary);
  }
  td {
    padding: 10px 5px;
  }
  label {
    font-weight: 600;
  }

  .projects {
    margin: 25px 5px 0 5px;
    background: var(--tertiary);
    padding: 10px;
    text-align: center;
    border-radius: 10px;

    .title {
      background: var(--secondary);
      color: var(--white);
      padding: 10px;
      font-weight: 600;
      margin-bottom: 15px;
      border-radius: 7px;
    }

    table {
      width: 100%;
      text-align: center;
    }
  }
}
