.skeleton {
  margin-top: 25px;
  border-radius: 10px;
}

.subHeader {
  background: #dfdfdf;
  height: 90px;
}

.filterBar {
  background: #c3c3c3;
  height: 70px;
}

.recordRow {
  background: #a3a3a3;
  height: 180px;
}
