.record {
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin-bottom: 15px;
  color: #313131; // TODO: use variables

  &--layout {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div:nth-child(4) {
      margin-top: 25px;
    }

    .company {
      font-size: 1.5rem;
      &:hover {
        text-decoration: underline;
        text-decoration-color: #f9609f;
        .react-icons {
          transform: scale(1.5);
        }
      }
    }
  }
}

.active {
  background: #d6edd6;
}

.inactive {
  background: #eddbd6;
}

.sub-header {
  justify-content: space-between;
  display: flex;
  align-items: center;

  h1 {
    color: #5c49cb;
  }

  > h1 .react-icons {
    font-size: 5.5rem;
    margin-right: 15px;
  }
}

.active-count {
  font-size: 2.5rem;
  color: #f9609f;
  font-weight: bold;
}

.filterDiv {
  display: flex;
  align-items: center;
  gap: 25px;
  position: sticky;
  top: 0;
  background: #efefef;
  padding: 25px 0;
}

.details-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-button {
  padding: 5px;
  background: white;
  border-radius: 7px;

  &:hover {
    box-shadow: 0px 0px 7px #d1d1d1;
  }

  &.delete {
    background: #d91616;
    color: white;
  }
}

.fs-l {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 2.5rem;
}
